{% extends 'core/base.html' %}

{% block content %}
	<div class="main-w3layouts wrapper">
		<h1>Creative SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
					<input class="text" type="text" name="username" maxlength="150" autofocus required id="id_username"
                           placeholder="{{ form.username.label }}" value="{{ form.username.value|default_if_none:'' }}">
                    {{ form.subject.errors }}
					<input class="text email" type="email" name="email" maxlength="254" required id="id_email"
                           placeholder="{{ form.email.label }}" value="{{ form.email.value|default_if_none:'' }}">
                    {{ form.email.errors }}
                    <input class="text" type="text" name="first_name" maxlength="30" required id="id_first_name"
                           placeholder="{{ form.first_name.label }}" value="{{ form.first_name.value|default_if_none:'' }}">
                    {{ form.first_name.errors }}
					<input class="text" type="text" name="last_name" maxlength="150" required id="id_last_name"
                           placeholder="{{ form.last_name.label }}" value="{{ form.last_name.value|default_if_none:'' }}">
                    {{ form.last_name.errors }}
                    <input class="text" type="text" id="id_birthday" name="birthday" required
                           placeholder="{{ form.birthday.label }}" value="{{ form.birthday.value|default_if_none:'' }}">
                    {% for item in form.education.queryset %}
                        {{ item }}
                    {% endfor %}
                    <input class="text" type="password" name="password1" placeholder="{{ form.password1.label }}"
                           required id="id_password1" value="{{ form.password1.value|default_if_none:'' }}">
                    {{ form.password1.errors }}
					<input class="text w3lpass" type="password" name="password2" required id="id_password2"
                        placeholder="{{ form.password2.label }}" value="{{ form.password2.value|default_if_none:'' }}">
                    {{ form.password2.errors }}
					<input type="submit" value="SIGNUP">
				</form>
				<p>Don't have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
{% endblock %}
